/* ul { */
/* list-style-type: upper-alpha; */
/* list-style-image: url("https://img.freepik.com/free-vector/start_53876-25533.jpg?w=2000"); */
/* border: 1px solid black; */
/* list-style-position: inside; */
/* list-style: inside decimal-leading-zero; */
/* } */

/* table {
  width: 600px;
  margin: auto;
  empty-cells: hide; */
/* border-collapse: collapse; */
/* border-spacing: 5px 10px; */
/* }

tr.even {
  background-color: lightblue;
}

th,
td {
  border: 2px solid black;
  text-transform: capitalize;
}

tr:hover {
  background-color: grey;
}

form {
  width: 600px;
  /* border: 2px solid black; */
/* margin: auto; */
/* } */

input {
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom-color: green;
}

input.email {
  background-image: url("https://img.freepik.com/free-icon/email_318-859700.jpg");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 5px;

  padding: 5px 10px 5px 40px;
}

input.pass {
  background-image: url("https://w7.pngwing.com/pngs/975/821/png-transparent-password-manager-computer-icons-password-strength-password-safe-chang-miscellaneous-password-strength-password-safe-thumbnail.png");
  background-size: 20px;
  background-position: 5px;
  background-repeat: no-repeat;
  padding: 5px 10px 5px 40px;
}
button {
  background-color: royalblue;
  color: white;
  padding: 8px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: crosshair;
}

fieldset {
  border-radius: 10px;
  border-color: red;
  box-shadow: 5px 5px 10px red;
}

legend {
  background-color: brown;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.center {
  text-align: center;
}

/* label {
  display: inline-block;
  width: 100px;
  text-align: right;
}  */

.paraTwo {
  color: blue;
}
